:root {
    --fundo-escuro: #000;
    --primaria: #70B5F9;
    --transparente: rgba(255, 255, 255, 0.00);
    --texto-primario: rgba(255, 255, 255, 0.90);
    --texto-secundario: rgba(255, 255, 255, 0.60);
    --texto-borda: rgba(255, 255, 255, 0.30);
    --texto-escuro: rgba(0, 0, 0, 0.75);
    --font-family-roboto: "Roboto", Arial, sans-serif;
    --fund-card: #1B2226;
    --input: #38434F;
    --cor-ouro: #e9a53f;
}

body {
    background-color: var(--fundo-escuro);
    color: var(--texto-primario);
    font-family: var(--font-family-roboto);
    font-weight: 400;
    font-size: .8rem;
}

body aside {
    display: none;
}

@media screen and (min-width: 720px) {
    body main {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    body main {
        align-items: end;
    }
    /* Display Grid */
    body aside {
        display: block;
    }

    body {
        display: grid;
        grid-template-areas:
            " header header "
            " main aside"
        ;
        grid-template-columns: minmax(600px, 1.8fr) 1fr;
        column-gap: 2.5rem;
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    aside {
        grid-area: aside;
    }
}