:root {
    --fundo-escuro: #000;
    --primaria: #70B5F9;
    --transparente: rgba(255, 255, 255, 0.00);
    --texto-primario: rgba(255, 255, 255, 0.90);
    --texto-secundario: rgba(255, 255, 255, 0.60);
    --texto-borda: rgba(255, 255, 255, 0.30);
    --texto-escuro: rgba(0, 0, 0, 0.75);
    --font-family-roboto: "Roboto", Arial, sans-serif;
    --fund-card: #1B2226;
    --input: #38434F;
    --cor-ouro: #e9a53f;
    --padding-card-analise: 0 1.5rem;
    --max-width-desktop: 750px;
    --width-table: 85%;
    --margin-top-secao: .5rem;
    --border-table-desktop: 16px;
}

body {
    background-color: var(--fundo-escuro);
    color: var(--texto-primario);
    font-family: var(--font-family-roboto);
    font-weight: 400;
    font-size: .8rem;
}

body aside {
    display: none;
}

.container__secao {
    margin-top: var(--margin-top-secao);
    background-color: var(--fund-card);
    display: flex;
    flex-direction: column;
}

.card-icon-alert {
    padding: var(--padding-card-analise);
    padding-top: .3rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--texto-secundario);
}

.titulo-card {
    padding: var(--padding-card-analise);
    font-size: 1.25rem;
    font-weight: 600;
}

@media screen and (min-width: 720px) {
    body main {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    body main {
        align-items: end;
    }

    .max-w-desktop {
        max-width: var(--max-width-desktop);
    }

    /* Display Grid */
    body aside {
        display: block;
    }

    body {
        padding-right: .6rem;
        display: grid;
        grid-template-areas:
            " header header "
            " main aside"
        ;
        grid-template-columns: minmax(var(--max-width-desktop), 2fr) 1fr;
        column-gap: 1rem;
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    aside {
        grid-area: aside;
    }
}