body header {
    width: 100%;
    background-color: var(--fund-card);
    position: fixed;
    top: 0;
    z-index: 1000;
}

body header nav ul {
    padding: .7rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body header nav ul .link_img-perfil a img {
    width: 27px;
    height: 27px;
    border-radius: 66px;
}

body header nav ul li a span,
body header nav ul .hidden {
    display: none;
}

body header nav ul .busca{
    display: block;
}

@media screen and (min-width: 720px) {

    body header nav ul .solucoes,
    body header nav ul .link_img-perfil,
    body header nav ul .premium,
    body header nav ul .busca {
        display: block;
    }

    body header nav ul {
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        border-bottom: 1px solid var(--texto-borda);
    }

    body header nav ul .solucoes {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: .5rem .4rem;
        border-left: 1px solid var(--texto-borda);
    }

    body header nav ul .solucoes .premium a .premium {
        display: block;
        width: 75%;
        text-align: center;
        color: var(--cor-ouro);
        padding-left: 1rem;
        text-decoration: underline;
    }

}

@media screen and (min-width: 1024px) {
    body header nav ul .busca {
        display: none;
    }

    body header nav ul li a span,
    body header nav ul .search {
        display: block;
    }

    body header nav ul {
        padding-left: 2.1rem;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    body header nav ul li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--texto-secundario);
    }

    body header nav ul .icon_linkedin {
        display: flex;
        gap: .5rem;
    }

    body header nav ul .icon_linkedin .search input {
        width: 280px;
        margin-right: 2rem;
        padding: .65rem 0 .65rem .65rem;
        border-radius: 4px;
        background-color: var(--input);
    }

    body header nav ul .icon_linkedin .search input::placeholder {
        background-image: url("../img/icone-busca.svg");
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: left;
        opacity: .70;
        padding: 2rem;
        color: var(--texto-primario);
        font-weight: 400;
    }

}