aside {
    max-width: 320px;
    padding-top: 4rem;
}

aside .card__visualizacao {
    padding: 1rem 0 1rem 1rem;
    background-color: var(--fund-card);
    border-radius: 16px;
}

aside .card__visualizacao .card_title {
    font-size: 1rem;
    font-weight: 700;
    padding: .8rem 0;
}

aside .card__visualizacao .contato{
    display: grid;
    grid-template-columns: 2fr auto;
    column-gap: .5rem;
}

aside .card__visualizacao .contato img {
    grid-column: 1/2;
    grid-row: 1/3;
}

aside .card__visualizacao .contato h2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

aside .card__visualizacao .contato p{
    grid-column:2/3 ;
    grid-row: 2/3;
    font-size: .75rem;
    color: var(--texto-secundario);
}

aside .card__visualizacao .contato button{
    grid-column:2/3 ;
    grid-row: 3/4;
    padding: .5rem 0;
    margin-bottom: .5rem;
    max-width: 10rem;
    border-radius: 16px;
    border: 1px solid var(--texto-primario);
}