/* Display Grid */
@media screen and (min-width: 1024px) {
body {
    display: grid;
    grid-template-areas:
        " header header "
        " main aside"
    ;
    grid-template-columns: 60% 1fr;
    column-gap: 1rem;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}
}