main .card__destaque {
    padding: 1rem;
    gap: 1rem;
}

main .card__destaque .container__card {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

main .card__destaque .container__card h2 {
    color: var(--texto-secundario);
    line-height: 1.25rem;
}

main .card__destaque .container__card p {
    padding: .5rem 0;
    font-size: .9rem;
    color: var(--texto-primario);
    line-height: 1.25rem;
}

main .card__destaque .container__card .card__publicacao {
    display: flex;
    flex-direction: column;
}

main .card__destaque .container__card .card__publicacao img {
    align-self: center;
    width: 80%;
    max-height: 550px;
    border-radius: 6px;
}

main .card__destaque .container__card .card__publicacao .like__comentario,
main .card__destaque .container__card .card__publicacao .like__comentario .likes {
    display: flex;
    align-items: center;
}

main .card__destaque .container__card .card__publicacao .like__comentario .likes {
    gap: .5rem;
}

main .card__destaque .container__card .card__publicacao .like__comentario {
    padding: .5rem 0;
    justify-content: space-between;
}

@media screen and (min-width: 720px) {
    main .card__destaque {
        width: var(--width-table);
        padding: 0;
        border-radius: var(--border-table-desktop);
    }

    main .card__destaque .title {
        padding: 1rem;
    }

    main .card__destaque .container__card {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 .5rem;
    }

    main .card__destaque .container__card .card__publicacao img {
        max-width: 280px;
        height: auto;
        padding: 0 .5rem;
    }

    main .card__destaque .container__card .card__publicacao .like__comentario {
        justify-content: space-around;
    }

}